/* .sliderWrapper :global(.swiper-button-next),
.sliderWrapper :global(.swiper-button-prev) {
  color: white !important;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.sliderWrapper :global(.swiper-button-next::after),
.sliderWrapper :global(.swiper-button-prev::after) {
  font-size: 18px;
  font-weight: bold;
}

.sliderWrapper :global(.swiper-pagination-bullet-active) {
  background: white !important;
  opacity: 1;
  width: 12px !important;
  height: 12px !important;
}

.sliderWrapper :global(.swiper-pagination-bullet) {
  background: rgba(255, 255, 255, 0.6) !important;
  width: 8px;
  height: 8px;
}

.sliderWrapper :global(.swiper-pagination-horizontal) {
  bottom: 10px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}